<component name="libraryTable">
  <library name="spring-5.3.9">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-aop-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-aspects-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-beans-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-context-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-context-indexer-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-context-support-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-core-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-expression-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-instrument-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-jcl-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-jdbc-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-jms-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-messaging-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-orm-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-oxm-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-r2dbc-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-test-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-tx-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-web-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-webflux-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-webmvc-5.3.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-websocket-5.3.9.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-aop-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-aspects-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-beans-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-context-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-context-indexer-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-context-support-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-core-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-expression-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-instrument-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-jcl-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-jdbc-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-jms-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-messaging-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-orm-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-oxm-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-r2dbc-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-test-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-tx-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-web-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-webflux-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-webmvc-5.3.9-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-websocket-5.3.9-javadoc.jar!/" />
    </JAVADOC>
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-aop-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-aspects-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-beans-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-context-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-context-indexer-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-context-support-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-core-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-expression-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-instrument-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-jcl-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-jdbc-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-jms-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-messaging-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-orm-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-oxm-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-r2dbc-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-test-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-tx-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-web-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-webflux-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-webmvc-5.3.9-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-websocket-5.3.9-sources.jar!/" />
    </SOURCES>
  </library>
</component>